doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', href='/stylesheets/loginform.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')

    link(rel='stylesheet', href='https://cdn01.boxcdn.net/platform/elements/1.6.0/en-US/picker.css')
  body
    script(src='https://cdn01.boxcdn.net/platform/elements/1.6.0/en-US/picker.js')
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Intl')
    block content
